:root {
    --default-font-family: 'Nunito', sans-serif;
    --heading-font-family: 'Vidaloka', serif;
    --primary-main-color: #0B2545;
    --primary-base-color: #134074;
    --secondary-color: #8DA9C4;
    --accent-color: #EEF4ED;
    --nav-color: rgba(19, 49, 92, 0.7);
    --white-color: #ffffff;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --icon-bg-color: #B7C7CE;
}

body {
    font-family: var(--default-font-family);
}

h1 {
    font-size: 64px;
    color: var(--secondary-color);
    font-family: var(--heading-font-family);
    font-weight: 400;
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
    color: var(--primary-base-color);
    font-family: var(--heading-font-family);
    font-weight: 400;
}

h3 {
    font-size: 24px;
    font-family: var(--default-font-family);
    font-weight: 700;
    color: var(--primary-main-color);
}

p {
    color: var(--primary-main-color);
    font-size: 18px;
    font-weight: 400;
}

.hero {
    background-color: var(--accent-color);
    padding: 160px 0;
    display: flex;
    align-items: center;
    height: 100vh;
}

.button {
    min-width: 200px;
    height: auto;
    border-radius: 4px;
    border: 2px solid var(--primary-base-color);
    text-decoration: none;
    padding: 15px 30px;
    font-family: var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.primary-btn {
    background-color: var(--primary-base-color);
    color: var(--accent-color);
    transition: all 0.7s ease-in-out;
}

.primary-btn:hover {
    background-color: var(--accent-color);
    color: var(--primary-base-color);
}

.secondary-btn {
    background-color: var(--accent-color);
    color: var(--primary-base-color);
    transition: all 0.7s ease-in-out;
}

.secondary-btn:hover {
    background-color: var(--primary-base-color);
    color: var(--accent-color);
}

.home-project {
    background-color: var(--white-color);
    padding: 70px 0 20px 0;
}

.project-heading {
    color: var(--secondary-color);
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px;
}

.project-subheading {
    color: var(--primary-main-color);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.spacer {
    margin: 100px 0;
}

.skills {
    font-size: 24px;
    font-family: var(--default-font-family);
    font-weight: 600;
}

.content {
    background-color: var(--white-color);
    padding: 100px 0;
}


.skills-icon {
    background-color: var(--white-color);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 10px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    transition: all 0.7s ease-in-out;
}

.skills-icon:hover {
    box-shadow: 0 0 0;
}

.work {
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: all 0.7s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.work:hover {
    box-shadow: 0 0 0;
}

.social-icon {
    background-color: var(--icon-bg-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    transition: all 0.7s ease-in-out;
    color: var(--primary-base-color);
    font-size: 20px;
    text-decoration: none;

}

.social-icon:hover {
    background-color: var(--primary-base-color);
    color: var(--white-color)
}

.social-icon a:hover {
    color: var(--white-color);
    font-size: 20px;
}

@media (min-width: 765px) and (max-width: 1200px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 18px;
    }

    .project-heading {
        font-size: 36px;
    }
}

@media (min-width: 566px) and (max-width: 766px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 16px;
    }

    .project-heading {
        font-size: 30px;
    }
}

@media (max-width: 565px) {
    h1 {
        font-size: 30px;
        margin-top: 10px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    .project-heading {
        font-size: 32px;
    }

    .button {
        font-size: 14px;
        padding: 15px;
    }

    .hero {
        height: 100%;
        padding: 40px 0;
    }

    .spacer {
        margin: 50px 0;
    }

    .home-project {
        padding: 50px 0 0 0;
    }

    .content {
        padding: 50px 0 0 0;
    }

}